.floating {
  animation-name: floating;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 6px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.fade {
  animation: fade 3s ease forwards;
  animation-delay: 1.6s;
  opacity: 0;
}

@keyframes fade {
  to {
    opacity: 1;
  }
}

.slide-down {
  animation: slideDown 2.3s ease forwards;
  opacity: 0;
  transform: translateY(-30px);
}

@keyframes slideDown {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-right {
  animation: slideRight 2s ease forwards;
  width: 0px; 
}

@keyframes slideRight {
    from {
        width: 0px;
    }
  to {
    width: 340px;
  }
}
