@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap');
@import "./styles/animations.css";

*{
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-color: #3b77fd;
}
 
html, body {
  scroll-behavior: smooth; 
  font-size: 16px;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-active {
  background: var(--primary-color);
  color: white;
}

.text-primary {
  color: var(--primary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.class-card{
  background-image: url("https://c4.wallpaperflare.com/wallpaper/818/749/254/abstract-background-blue-wallpaper-preview.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 95%;
  margin: 0 auto;
  z-index: 50;
  font-family: "Manrope", Inter;
}


.class-card p {
  letter-spacing: 10px;
  font-size: 14px;
}

.class-card h1 {
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 1px;
}

.app-container {
  background-image: url("https://shots.codepen.io/username/pen/pbzooY-800.jpg?version=1464121560");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #ffffff96;
  background-blend-mode: overlay;
}